.selectDrop {
    position: relative;
  }
  
  .selectDropSec {
    width: 300px;
    height: auto;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%; /* Aligns the dropdown just below the trigger element */
    z-index: 100;
    padding: 0 15px;
    /* margin-top: 8px; Adds a small gap between the trigger and the dropdown */
  }
  
  .selectDropSec .searchField input {
    width: 100%;
    height: 40px;
    border: 1px solid #bce3c9;
    outline: none;
    padding: 0 15px;
  }
  
  .selectDropSec .dropResults {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    max-height: 220px; 
    overflow-y: scroll;
  }
  
  .selectDropSec .dropResults li {
    list-style: none;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
 
  }
  
  .selectDropSec .dropResults li.active {
    background: #f1f1f1;
  }
  
  .selectDropSec .dropResults::-webkit-scrollbar {
    width: 10px;
  }
  
  .selectDropSec .dropResults::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  .selectDropSec .dropResults li:hover {
    background-color: green;
    
    color: #fff;
  }
  